name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout repository 
      uses: actions/checkout@v2.2.0
      with: 
        fetch-depth: 0
    - name: 'Get Previous tag'
      id: previoustag
      uses: "WyriHaximus/github-action-get-previous-tag@master" 
    - name: Generate build number
      uses: einaregilsson/build-number@v2 
      with:
        token: ${{secrets.github_token}}        
    - name: Print latest tag
      run: echo "Build number is ${{ steps.previoustag.outputs.tag }}"
      
    - name: Install dependencies
      run: dotnet restore
      env:
          NUGET_AUTH_TOKEN: ${{secrets.NUGETKEY}}
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: Pack package
      run:  dotnet pack -p:PackageVersion=${{ steps.previoustag.outputs.tag }} --no-build -c Release -o out     
    - name: Push package
      run: dotnet nuget push .\out\*${{ steps.previoustag.outputs.tag }}.nupkg -k ${{secrets.NUGETKEY}} -s https://api.nuget.org/v3/index.json --no-symbols true
       
